{% extends 'base.html' %}

{% block content %}

    <div style= "margin: 2rem; text-align: center;" >
        <h1 style = "font-family: 'Roboto Mono', cursive;" class="m-5">
            METHOD</h1>

        <form action="/account/hello_world/" method="post">
            {% csrf_token %}
             {# button addons link - Boot strap #}
            <div class="input-group mb-3 w-50 m-auto">
                <input type="text" class="form-control" name="hello_world_input" placeholder="Recipient's username">
                <button class="btn btn-dark" type="submit" id="button-addon2">Button</button>
            </div>

        </form>
        {% if hello_world_list %}

            {% for hello_world in hello_world_list %}
                <h3>{{ hello_world.text }}</h3>
            {% endfor %}

        {% endif %}
    </div>

{% endblock %}